/* GLOBAL */
:root{
    --body-bg:#effafa;
    --green-color:#5ca5a5;
    --black-color:#2b3939;
    --gray-color:#7c8f8f;
}

html{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    line-height: 24px;
    overflow-x: auto;
}

*, *::before, *::after{
    box-sizing: inherit;
}

/* CONTAINER */
.container{
    width: 100%;
    max-width: 1366px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* VISUALLY-HIDDEN */
.visually-hidden { 
    /* Contain text within 1px box */
    height: 1px; 
    overflow: hidden;
    width: 1px;
    /* Keep the layout */  
    position: absolute;
    /* Remove any visible trace (e.g. background color) */
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%); /* browsers in the future */
    /* Prevent the screen reader to skip spaces between words */
    white-space: nowrap;
  }

.main-content{
    flex-grow: 1;
}

.site-header{
    height: 156px;
    background-image: url(../img/Combined\ Shape.png);
    background-position: center center;
}

/* JOB LISTINGS */
.job-listings {
    display: flex;
    padding-top: 76px;
    padding-bottom: 120px;  
    padding-right: 128px;
    padding-left: 128px;
    background-color: var(--body-bg);
}

.listings {
    padding: 0;
    margin: 0;
}

.listing-item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding: 32px 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
}

.listing-item:last-child{
    margin-bottom: 0;   
}

.featured{
    border-left: 5px solid transparent;
    transition: border-radius 0.4s ease;
}

.featured:hover{
    border-left: 5px solid var(--green-color);
    border-radius: 100px 0px 0px 100px;
}

.job-listings-logo {
    margin-right: 24px;
    width: 88px;
    height: 88px;
    border-radius: 50%;
}

.job-listing-info {
    display: block;
    flex-grow: 1;
    margin-right: 253px;
}

.job-listings-company-badges {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 8px;
}

.job-listings-company-name {
    margin-top: 0;
    margin-right: 16px;
    font-size: 14px;
    line-height: normal;
    font-weight: 700;
    color: var(--green-color);
}

.job-listings-badges {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.job-listings-badge-item:not(:last-child) {
    margin-right: 8px;
  
}

.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px 4px;
    font-size: 11px;
    line-height: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.085px;
    color: #fff;
    border-radius: 12px;
}

.badge-green {
    width: 51px;
    height: 24px;
    background-color: var(--green-color);
}

.badge-black {
    width: 79px;
    height: 24px;
    background-color: var(--black-color);
}

.job-listings-position {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 500;
}

.job-listing-addl {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.job-listing-addl-item{
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    color: var(--gray-color);
    white-space: nowrap;
}

.job-listing-addl-item:not(:first-child)::before{
    content: "";
    width: 4px;
    height: 4px;
    margin-left: 16px;
    margin-right: 16px;
    background-image: url(../img/Oval\ Copy.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.job-listings-tags {
    display: flex;
    margin-right: 0;
    list-style: none;
    white-space: nowrap;
}

.job-listings-tag-item:not(:last-child){
    margin-right: 16px;

}

.tag {
    display: block;
    padding: 4px 8px;
    text-align: center;
    color: var(--green-color);
    background-color:rgba(13, 113, 130, 0.1);
    border-radius: 4px;
}